.main{
    background-image: url(./Assets/Image/body_bg-black.png);
    /* height: 100px; */
    width: 100vw;
}
.subMain{
    background-image: url(./Assets/Image/container_bg.png);
    background-color: #fff;
    /* height: 100px; */
    width: 92vw;
    margin: auto;
}
.gamingPicturesRow{
    background-color: #fff;
    width:70vw;
    margin: auto;
    display: flex;
    margin-bottom: 30px;
}
.MainColumn{
    background-color: #282828;
    color: #fff;
    margin-bottom: 10px;
}
.picPara{
    padding: 10px 20px;
}
.picPara h2{
    font-weight: 400;
    padding-bottom: 5px;
}
.picPara p{
    color: #cccccc;
    margin-top: 5px;
    padding-bottom: 10px;
    line-height: 1.5;
}
.picPara p img{
    width: 25%;
    float: right;
}
.gamingPicturesColumn{
    width: 65%;
    padding: 50px 20px 20px 20px;
}
.gamingPicturesColumn img{
    width: 100%;
}
.SubColumn{
    display: flex;
   
}
.SubColumn img{
    width: 100%;
}
.SubColumn1{
    background-color: #369143;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-right: 15px;
}
.SubColumn1 h2{
    color: #fff;
    font-family: "Flexo-Medium",arial,sans-serif;
    font-weight: 300;
    font-size: 22px;
    padding: 10px 15px 20px 15px;
}
.SubColumn2{
    background-color: #1b82b1;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.SubColumn2 h2{
    color: #fff;
    font-family: "Flexo-Medium",arial,sans-serif;
    font-weight: 300;
    font-size: 22px;
    padding: 10px 15px 20px 15px;
}
.gamingPicturesColumn2{
    width: 35%;
    padding-right: 20px;
    padding-top: 50px;
}
.gamingPicturesColumn2 img{
    width: 100%;
    height: 23vh;
}
.gamingPicturesColumn2SubColumn1{
    background-color: #a4a4a4;
    margin-bottom: 15px;
}
.gamingPicturesColumn2SubColumn1 h2{
    font-size: 22px;
    line-height: 1.2;
    font-weight: 100;
    padding: 20px 30px 20px 30px;
}
.gamingPicturesColumn2SubColumn2{
    background-color: #e3b62a;
    margin-bottom: 15px;
}
.gamingPicturesColumn2SubColumn2 h2{
    font-size: 22px;
    font-weight: 100;
    padding: 15px 15px 25px 15px;
    color: #fff;
}
.gamingPicturesColumn2SubColumn3{
    display: flex;
    background-color: #1b53ba;
}
.gamingPicturesColumn2SubColumn3 img{
    
    width: 40%;
}
.gamingPicturesColumn2SubColumn3 h2{
    
    font-size: 22px;
    font-weight: 100;
    color: #fff;
    padding: 50px 15px 30px 15px;
}

#border{
    border-radius: 15px;
}
#border img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.section2Row{
    background-color: #fff;
    width:70vw;
    margin: auto;
    display: flex;
    margin-bottom: 30px;
}
.section2Column{
    padding: 30px 20px 20px 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
}
.section2Column1{
    width: 33%;
    align-self: center;
    margin-right: 15px;
}
.section2Column1Row1{
    background-color: #ff514f;
    margin-bottom: 15px;
}
.section2Column1Row1 img{
    width: 100%;
}
.section2Column1Row1 h2{
    color: #fff;
    font-size: 22px;
    line-height: 1.2;
    padding: 15px 20px 5px 20px;
    font-weight: 200;
}
.section2Column1Row1 p{
    font-size: 16px;
    line-height: 1.2;
    padding: 5px 20px 5px 20px;
    font-weight: 200;
    padding-bottom: 20px;
}
.section2Column1Row2{
    background-color: #4dad5b;
}
.section2Column1Row2 img{
    width: 100%;
}
.section2Column1Row2 h2{
    color: #fff;
    font-size: 22px;
    line-height: 1.2;
    padding: 15px 20px 5px 20px;
    font-weight: 200;
}
.section2Column1Row2 p{
    font-size: 16px;
    line-height: 1.2;
    padding: 5px 20px 5px 20px;
    font-weight: 200;
    padding-bottom: 20px;
}
.section2Column2{
    width: 33%;
    margin-right: 15px;
}
.section2Column2Row1{
    background-color: #daa31c;
    margin-bottom: 15px;
}
.section2Column2Row1 img{
    width: 100%;
}
.section2Column2Row1 h2{
    color: #fff;
    font-size: 22px;
    line-height: 1.2;
    padding: 15px 20px 5px 20px;
    font-weight: 200;
}
.section2Column2Row1 p{
    font-size: 16px;
    line-height: 1.2;
    padding: 5px 20px 5px 20px;
    font-weight: 200;
    padding-bottom: 20px;
}
.section2Column2Row2{
    background-color: #b89355;
}
.section2Column2Row2 img{
    width: 100%;
}
.section2Column2Row2 h2{
    color: #fff;
    font-size: 22px;
    line-height: 1.2;
    padding: 15px 20px 5px 20px;
    font-weight: 200;
}
.section2Column2Row2 p{
    color: #393736;
    font-size: 16px;
    line-height: 1.2;
    padding: 5px 20px 5px 20px;
    font-weight: 200;
    padding-bottom: 20px;
}
#NewsWeek{
    color: #919191;
    font-size: 30px;
    padding: 20px 0;
}
.section3Column3{
    width: 33%;
    align-self: center;
    padding-top: 30px;
}
.section3Column3Row1{
    background-color: #a4a4a4;
    margin-bottom: 15px;
}
.section3Column3Row1 img{
    width:100%
}
.section3Column3Row1 h2{
    color: #fff;
    font-size: 22px;
    line-height: 1.2;
    padding: 15px 20px 5px 20px;
    font-weight: 200;
}
.section3Column3Row1 p{
    color: #655f5b;
    font-size: 16px;
    line-height: 1.2;
    padding: 5px 20px 5px 20px;
    font-weight: 200;
    padding-bottom: 20px;
}
.section3Column3Row2{
    background-color: #574c3b;
    margin-bottom: 15px;
}
.section3Column3Row2 img{
    width: 100%;
}
.section3Column3Row2 h2{
    color: #fff;
    font-size: 22px;
    line-height: 1.2;
    padding: 15px 20px 5px 20px;
    font-weight: 200;
}
.section3Column3Row2 p{
    color: #fff;
    font-size: 16px;
    line-height: 1.2;
    padding: 5px 20px 5px 20px;
    font-weight: 200;
    padding-bottom: 20px;
}
.section3Column3Row3{
    position: relative;
}
.section3Column3Row3 h2{
    background-color: #ee6b2f;
    color: #fff;
    font-size: 22px;
    line-height: 1.2;
    padding: 15px 20px 5px 20px;
    font-weight: 200;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.section3Column3Row3 p{
    background-color: #1b82b1;
    color: #000;
    font-size: 20px;
    line-height: 1.2;
    padding: 15px 20px 5px 20px;
    font-weight: 200;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
} 