* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: flexo, sans-serif;
}

body {
  /* background: #424242 url(../public/assets/body_bg.png); */
}

/* header */
.head-container {
  background-color: white;
  width: 100%;
  height: 62px;
  border-bottom: solid 2px #dedede;
  background-color: #f5f5f5;
}

.header-list {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  list-style: none;
  text-decoration: none;
  height: 62px;
}

.head-item1 {
  box-shadow: 0 0 7px 1px #666666;
  margin: 0 10px;
  border-right: 0;
  border-left: 0;
  background-color: #fff;
  padding: 9px 10px 8px 10px;
}

.head-item2 {
  margin: 0 10px;
  border-right: solid 2px #dedede;
  padding: 9px 10px 8px 10px;
}

.head-item {
  padding: 9px 4px 8px 4px;
}

/* navbar */

nav{
  position: -webkit-sticky;
  position: sticky;
  top: -50px;
  z-index: 600;
}

.nav-container {
  width: 100%;
  background-color: white;

}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: auto;
 
}

.navbar-links {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  list-style: none;
  width: 100%;
  margin: auto;
  padding: 0;
  
}

.navbar-links a {
  text-decoration: none;
  font-weight: 500;
  color: #464646;
  font-size: 14px;
  width: 100%;
  height: 10vh;
}

.navbar-links li:hover a {
  color: #fff;
}

li.nav-item {
  position: relative;
  width: 14.28%;
}

li.nav-item:after {
  content: "";
  height: 6px;
  bottom: -2px;
  width: 100%;
  left: 0;
  z-index: 3;
  position: absolute;
}

.nav-item p {
  height: 30px;
}

li#link1.nav-item:after {
  background-color: #919191;
  border-radius: 0 0 0 8px;
}
li#link1.nav-item:hover, .active {
  background-color: #919191;
}

li#link2.nav-item:after {
  background-color: #e3350d;
}

li#link2.nav-item:hover {
  background-color: #e3350d;
}

li#link3.nav-item:after {
  background-color: #ee6b2f;
}

li#link3.nav-item:hover {
  background-color: #ee6b2f;
}

li#link4.nav-item:after {
  background-color: #e6bc2f;
}

li#link4.nav-item:hover {
  background-color: #e6bc2f;
}

li#link5.nav-item:after {
  background-color: #4dad5b;
}

li#link5.nav-item:hover {
  background-color: #4dad5b;
}

li#link6.nav-item:after {
  background-color: #30a7d7;
}

li#link6.nav-item:hover {
  background-color: #30a7d7;
}

li#link7.nav-item:after {
  background-color: #1b53ba;
  border-radius: 0 0 8px 0;
}

li#link7.nav-item:hover {
  background-color: #1b53ba;
}

.nav-item {
  padding: 1px 20px;
}

.nav-item i {
  padding: 8px 1px;
}

.user-dashboard {
  position: fixed;
  top: 250px;
  left: 146px;
}

.signup {
  background-color: #54b564;
  font-size: 10px;
  line-height: 10px;
}

.signup a {
  color: white;
  text-decoration: none;
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 5px;
  justify-content: center;
}

.search {
  color: white;
}

.search a {
  padding: 30px 30px;
  color: #dedede;
  background-color: #424242;
  text-decoration: none;
}

.drawer {
}

.main {
  background-image: url(../public/assets/body_bg.png);
  width: 100%;
  /* position: absolute;
  top: 150px;
  left: 0; */
  z-index: -2;
}

.hero{  
  background-image: url(../public/assets/container_bg.png);
  background-color: white;
  width: 85%;
  margin: auto;
}


.hero-container {
  width: 70%;
  background-color: #fff;
  margin: auto;
  margin-bottom: 30px;
  /* padding: 5px; */
}


.hero-wrapper {
  padding-top: 50px;
  margin-left: 20px;
}


