* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: flexo, sans-serif;
}

body {
  /* background: #424242 url(../public/assets/body_bg.png); */
}

/* header */
.head-container {
  width: 100%;
  height: 70px;
  border-bottom: solid 2px #dedede;
  box-shadow: 0 0 0 3px rgb(214, 214, 214);
  background-color: #f5f5f5;
}

.head-item {
  box-shadow: inset 0 0 2px 1px #666666;
}

.head-item1 {
  background-color: white;
  box-shadow: 0 0 7px 1px #666666;
}

.header-list {
  position: relative;
}

button.btn {
  position: absolute;
  top: 1%;
  left: 80%;
  margin-left: auto;
}

.offcanvas-item {
  background-image: url(./public/assets/container_bg.png);
  border: 1px solid gray;
  box-shadow: inset 0 0 2px 1px;
}

/* header ends */

/* nav starts */
.nav-container {
  width: 100vw;
  background-color: white;
}

/*extra small screens */
@media (max-width: 575px) {
  .nav-container {
    background-image: radial-gradient(#343434 15%, #1e1e1e 60%);
  }

  .navbar-nav {
    height: 100vh;
    background-image: url(./public/assets/body_bg.png);
  }
  .nav-container a p {
    font-size: 0.625rem;
    color: #464646;
  }

  li.nav-item {
    position: relative;
  }

  li.nav-item:after {
    content: "";
    z-index: 3;
    position: absolute;
    transform: rotate(90deg) translateY(4.2rem) translateX(0.7rem);
  }

  li.nav-item a {
    position: relative;
    width: 90vw;
    height: 9vh;
    display: flex;
    left: 0;
    margin: auto;
    background-color: white;
  }

  li.nav-item a p {
    text-align: left;
    width: 80vw;
    font-size: 1rem;
    margin-bottom: 0;
    padding-top: 0.9rem;
    padding-left: 2.5625rem;
  }

  li.nav-item a i {
    width: 10vw;
    padding: 0.8rem;
    color: #464646;
  }

  li#link1.nav-item.active:after {
    width: 9.2vh;
    bottom: 39px;
    left: 58px;
  }
  li#link2.nav-item:after {
    width: 9.2vh;
    bottom: 39px;
    left: 58px;
  }
  li#link3.nav-item:after {
    width: 9.2vh;
    bottom: 39px;
    left: 58px;
  }
  li#link4.nav-item:after {
    width: 9.2vh;
    bottom: 39px;
    left: 58px;
  }
  li#link5.nav-item:after {
    width: 9.2vh;
    bottom: 39px;
    left: 58px;
  }
  li#link6.nav-item:after {
    width: 9.2vh;
    bottom: 39px;
    left: 58px;
  }
  li#link7.nav-item:after {
    width: 9.2vh;
    bottom: 39px;
    left: 58px;
  }
}

/* small screens */
@media (min-width: 576px) and (max-width: 767px) {
  .nav-container {
    background-image: radial-gradient(#343434 15%, #1e1e1e 60%);
  }

  .navbar-nav {
    height: 100vh;

    background-image: url(./public/assets/body_bg.png);
  }
  .nav-container a p {
    font-size: 0.625rem;
    color: #464646;
  }

  li.nav-item {
    position: relative;
  }

  li.nav-item:after {
    content: "";
    z-index: 3;
    position: absolute;
    transform: rotate(90deg) translateY(4.2rem) translateX(0.7rem);
  }

  li.nav-item a {
    position: relative;
    width: 90vw;
    height: 9vh;
    display: flex;
    left: 0;
    margin: auto;
    background-color: white;
    color: #464646;
  }

  li.nav-item a p {
    text-align: left;
    width: 80vw;
    font-size: 1rem;
    margin-bottom: 0;
    padding-top: 0.9rem;
    padding-left: 2.5625rem;
  }

  li.nav-item a i {
    width: 10vw;
    padding: 0.8rem;
  }

  li#link1.nav-item.active:after {
    width: 9.2vh;
    bottom: 39px;
    left: 58px;
  }
  li#link2.nav-item:after {
    width: 9.2vh;
    bottom: 39px;
    left: 58px;
  }
  li#link3.nav-item:after {
    width: 9.2vh;
    bottom: 39px;
    left: 58px;
  }
  li#link4.nav-item:after {
    width: 9.2vh;
    bottom: 39px;
    left: 58px;
  }
  li#link5.nav-item:after {
    width: 9.2vh;
    bottom: 39px;
    left: 58px;
  }
  li#link6.nav-item:after {
    width: 9.2vh;
    bottom: 39px;
    left: 58px;
  }
  li#link7.nav-item:after {
    width: 9.2vh;
    bottom: 39px;
    left: 58px;
  }
}

/* medium screens */
@media (min-width: 768px) and (max-width: 991px) {
  .nav-container {
    background-image: radial-gradient(#343434 15%, #1e1e1e 60%);
  }

  .navbar-nav {
    height: 100vh;
    background-image: url(./public/assets/body_bg.png);
  }
  .nav-container a p {
    font-size: 0.625rem;
    color: #464646;
  }

  li.nav-item {
    position: relative;
  }

  li.nav-item:after {
    content: "";
    z-index: 3;
    position: absolute;
    transform: rotate(90deg) translateY(4.2rem) translateX(0.7rem);
  }

  li.nav-item a {
    position: relative;
    width: 90vw;
    height: 9vh;
    display: flex;
    left: 0;
    margin: auto;
    background-color: white;
  }

  li.nav-item a p {
    text-align: left;
    width: 30vw;
    font-size: 1rem;
    margin-bottom: 0;
    padding-top: 0.9rem;
    padding-left: 0.5625rem;
  }

  li.nav-item a i {
    width: 10vw;
    padding: 0.8rem;
    color: #464646;
  }

  li#link1.nav-item.active:after {
    width: 9.2vh;
    bottom: 39px;
    left: 58px;
  }
  li#link2.nav-item:after {
    width: 9.2vh;
    bottom: 39px;
    left: 58px;
  }
  li#link3.nav-item:after {
    width: 9.2vh;
    bottom: 39px;
    left: 58px;
  }
  li#link4.nav-item:after {
    width: 9.2vh;
    bottom: 39px;
    left: 58px;
  }
  li#link5.nav-item:after {
    width: 9.2vh;
    bottom: 39px;
    left: 58px;
  }
  li#link6.nav-item:after {
    width: 9.2vh;
    bottom: 39px;
    left: 58px;
  }
  li#link7.nav-item:after {
    width: 9.2vh;
    bottom: 39px;
    left: 58px;
  }

  .hero-slider {
    width: 10%;

  }




}

/* large screens */
@media (min-width: 992px) {
  .nav-container {
    background-color: none;
  }
}

nav.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: -57px;
  z-index: 3;
}

.navbar-nav a {
  text-decoration: none;
  font-weight: 500;
  color: #464646;
  font-size: 14px;
  height: 10vh;
}

.navbar-nav li:hover a {
  color: #fff;
}

li.nav-item {
  position: relative;
  width: 14.28%;
}

li.nav-item:after {
  content: "";
  height: 0.375rem;
  bottom: -0.125rem;
  width: 100%;
  left: 0;
  z-index: 3;
  position: absolute;
}

.nav-item p {
  height: 3.125rem;
}

li#link1.nav-item:after {
  background-color: #919191;
  border-radius: 0 0 0 8px;
  width: 100%;
}

li#link1.nav-item.active {
  background-color: #919191;
}

li#link2.nav-item:after {
  background-color: #e3350d;
}

li#link2.nav-item:hover {
  background-color: #e3350d;
}

li#link3.nav-item:after {
  background-color: #ee6b2f;
}

li#link3.nav-item:hover {
  background-color: #ee6b2f;
}

li#link4.nav-item:after {
  background-color: #e6bc2f;
}

li#link4.nav-item:hover {
  background-color: #e6bc2f;
}

li#link5.nav-item:after {
  background-color: #4dad5b;
}

li#link5.nav-item:hover {
  background-color: #4dad5b;
}

li#link6.nav-item:after {
  background-color: #30a7d7;
}

li#link6.nav-item:hover {
  background-color: #30a7d7;
}

li#link7.nav-item:after {
  background-color: #1b53ba;
  border-radius: 0 0 8px 0;
}

li#link7.nav-item:hover {
  background-color: #1b53ba;
}

.nav-item {
  padding: 1px 20px;
}

.nav-item i {
  padding: 8px 1px;
}

.user-dashboard {
  position: fixed;
  top: 250px;
  left: 146px;
}

.signup {
  background-color: #54b564;
  font-size: 10px;
  line-height: 10px;
}

.signup a {
  color: white;
  text-decoration: none;
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 5px;
  justify-content: center;
}

.search {
  color: white;
}

.search a {
  padding: 30px 30px;
  color: #dedede;
  background-color: #424242;
  text-decoration: none;
}

.drawer {
}

.main {
  background-image: url(../public/assets/body_bg.png);
  width: 100%;
  /* position: absolute;
  top: 150px;
  left: 0; */
  z-index: -2;
  padding-bottom: 30px;
}

.hero {
  background-image: url(../public/assets/container_bg.png);
  background-color: white;
  width: 92%;
  margin: auto;
}

.hero-container {
  width: 70%;
  background-color: #fff;
  margin: auto;
  margin-bottom: 30px;
  /* padding: 5px; */
}

.hero-wrapper {
  padding-top: 50px;
  /* margin-left: 20px; */
}

.hero-slider {
  width: 100%;
  /* height: 50vh; */
  margin: auto;
}

/* hero-slider */
/* owl-carousel */

.slider {
  margin-bottom: 50px;
  position: relative;
}

.slider .owl-item.active.center .slider-card {
  transform: scale(1.1);
  opacity: 1;
  color: #fff;
}

.slider .owl-item.active.center .slider-card h6.card-text {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.slider .owl-item.active.center .slider-card h6.card-text::after {
  content: "700"; /* Adding a number after active items */
}

.slider .owl-item.active .slider-card .card-body .add-text {
  visibility: hidden;
  opacity: 0;
  padding: 0;
}

.slider .owl-item.active.center .slider-card .card-body .add-text {
  visibility: visible;
  opacity: 1;
  padding: 0;
  font-size: 9px;
}

.slider .owl-item.active.center .slider-card .card-body .add-text .cardline1,
.cardline2 {
  width: 64%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.slider .owl-item.active.center {
  background-color: #474747;
}
.slider .owl-item.active {
  background-color: rgba(71, 71, 71, 1);
  padding: 0;
  margin: 0;
}

.slider .owl-item.active .slider-card .card-body {
  margin: 0;
  height: 10vh;
}

.slider .owl-item.active .slider-card .card-body {
  margin: 0;
  height: 10vh;
}
.slider .owl-item.active.center .slider-card .card-body {
  margin: 0;
  height: 35vh;
}

.slider-card {
  background: none;
  padding: 0px 0px;
  margin: 30px 0px 0px 0px;
  border-radius: 5px;
  /* box-shadow: 0 15px 45px -20px rgb(0 0 0 / 73%); */
  transform: scale(0.6);
  opacity: 0.4;
  transition: all 0.3s;
  /* z-index: 400; */
}

.slider .owl-item.active.center .slider-card {
  height: 40vh;
  z-index: 600;
}

/* .slider-card img {
  border-radius: 50px 50px 0px 0px;
} */

.slider .owl-item.active.center .slider-card img {
  z-index: 500;
  transform: scale(1);
}

.slider .owl-item.active {
  margin: 0;
}

.slider .owl-item.active.center {
  margin-right: 0;
}

.owl-stage-outer {
  padding: 0;
  margin: 0;
  background: none;
  background-color: none;
}

/* slider-scroller */

.owl-nav .owl-prev {
  position: absolute;
  top: calc(50% - 25px);
  left: 100px;
  opacity: 1;
  font-size: 70px !important;
  z-index: 1;
  padding: 20px;
}

.owl-nav .owl-next {
  position: absolute;
  top: calc(50% - 25px);
  right: 100px;
  opacity: 1;
  font-size: 70px !important;
  z-index: 1;
}

/* slider indicators */

.owl-dots {
  display: none;
}
/*
.owl-dots .owl-dot {
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background: #6d6868 !important;
  margin-left: 3px;
  margin-right: 3px;
  outline: none;
}
.owl-dots .owl-dot.active {
  background: #f44336 !important;
} */

.footer {
  width: 100%;
  /* text-align: left!important ; */
  background-color: #1f1f1f;
}

.container-footer {
  max-width: 65%;
  color: white;
  align-items: center;
}
.container-footer > ul,
li,
a {
  color: white;
  text-decoration: none;
  list-style: none;
}
